.display{
    height: 3rem;
    width: 97;
    background-color: rgb(207, 225, 241);
    border-radius: 5px;
    margin: 1rem;
    margin-bottom: 1rem;
    font-size: 30px; 
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.hovs{
    height: 4rem;
    transition: all 0.3s ease-in-out;
    display: grid;
    place-items: center;
}
.hov:hover{
    background-color: rgb(203, 219, 241);
    font-size: 30px;
}
