<!-- 
<div>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
</div>
<div>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
</div>  -->

<!-- <div class="card-container">
    <div *ngFor="let item of dummyData; let i = index">
        
        <app-card [channelName]="item.title" [channelName]="item.content"></app-card>
        
     </div>
</div>
<app-text></app-text> -->
<!-- <app-form></app-form> -->
 <app-calculator></app-calculator>