<!-- <p>card works!</p>
<div class="card-containers">
    <div class="image-container"> 
        <img src={{imageString}} alt="">
    </div>
    <div class="Description">
        <div class="video-title">
            <p>This is a Video</p>
        </div>
        <div class="channel">
            <p>{{channelName}}</p>
        </div>
    </div>
</div> -->
<input type="number" [(ngModel)]="number1"/> + <input type="number" [(ngModel)]="number2"/>
<button (click)="addTwoNumbers(number1, number2)">Add</button>
<p>The answer is {{result}}</p> 